[submodule "hardware/Explorator"]
	path = hardware/Explorator
	url = https://github.com/nathanshaw/Explorator
[submodule "hardware/Speculator"]
	path = hardware/Speculator
	url = https://github.com/nathanshaw/Speculator
[submodule "hardware/Legatus"]
	path = hardware/Legatus
	url = https://github.com/nathanshaw/Legatus
[submodule "hardware/Acropolis_Family_Design_Blocks"]
	path = hardware/Design_Blocks
	url = https://github.com/nathanshaw/Acropolis_Family_Design_Blocks
